body {
    margin: auto;
    width: fit-content;
    background-color: #111111;
    color: #FFFFFF;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

h1 {
    padding-bottom: 5px;
    color: #FFD700;
}

.controls {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    border-radius: 15px;
    background-color: #FF6E6E;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 110, 110, 0.7);
}