.formulario{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

label{
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(103, 255, 141);
}

