.casilla {
    background-color: #4A90E2;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.5);
}

#tablero {
    background-color: #303030;
    margin: auto;
    width: fit-content;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

#filaDiv {
    display: flex;
    justify-content: center;
}

#jugarDeNuevo {
    border-radius: 15px;
    background-color: #FF6E6E;
    cursor: pointer;
    display: block;
    padding: 10px;
    margin: 20px auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 110, 110, 0.7);
}

h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px;
    color: #FFD700;
}

body {
    background-color: #111111;
    color: #FFFFFF;
}

.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}